
@{
    ViewData["Title"] = "Services";
}
<div class="tabs">
	<div class="container">
		<div class="main">

			<div class="left-side">
				<button id="show-design-tab" class="UI-Design">UI/UX Design</button>
				<button id="show-dev-tab" class="UI-Design">Development</button>
			</div>
			<div class="right-side">
				<div id="design-services" class="services" style="display:none;">
					<div class="service">
						UX Research
						<img src="~/Content/img/UI-UX/lilaBild.png" style="width:100%;" />
					</div>
					<div class="service">
						UX Analytics
						<img src="~/Content/img/UI-UX/weißesBild.png" style="width: 100%;" />
					</div>
					<div class="service">
						User Flows
						<img src="~/Content/img/UI-UX/schwarzesBild.png" style="width: 100%;" />
					</div>
					<div class="service">
						UI Prototyping and Testing
						<img src="~/Content/img/UI-UX/ComputerMannBild.png" style="width: 100%;" />
					</div>
				</div>

				<div id="dev-services" class="services" style="display:grid;">
					<div class="service">
						Web Development
						<img src="~/Content/img/UI-UX/home Service.png" style="width:100%;" />
					</div>
					<div class="service">
						Database Solutions
						<img src="~/Content/img/UI-UX/Daten.png" style="width: 100%;" />
					</div>
					<div class="service">
						Cloud Transfromation
						<img src="~/Content/img/UI-UX/Universum.png" style="width: 100%;" />
					</div>
					<div class="service">
						Software Modernization
						<img src="~/Content/img/UI-UX/Sicherheit.png" style="width: 100%;" />
					</div>
				</div>

			</div>
		</div>
	</div>
</div>